
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MobLayout.cshtml";
}


<div class="store-list">
    <div class="store-cat">
        <div class="pure-menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Home</a>
                </li>

                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">About</a>
                </li>

                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Services</a>
                </li>

                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="store-pro">bbb</div>
</div>
