 <div class="confir-wrapper" resize-height>
    <section class="add-wrapper flex" ng-click="createAdd()">
        <div class="add-set map">
            <i class="fa fa-map-marker"></i>
        </div>

        <div class="add-set add">
            添加送货地址

        </div>

        <div class="add-set anch" style="margin-right:10px;">
            <i class="fa fa-angle-right"></i>
        </div>
    </section>
     <br/>
     <section class="add-wrapper pay-title">
         <div class="pay-title-lne">
             <span style="font-size: 1.15em;">支付方式</span> (目前只支持货到付款)
         </div>
         <br/>
         <div class="pay-title-2 pay-title-lne">
             <span>货到付款</span>
             <div>
                 <input type="checkbox" checked="checked" disabled="disabled" />
             </div>
         </div>
     </section>
     <br/>
     <section class="add-wrapper flex time">
          

         <div class="add-set add">
             送达时间

         </div>

         <div class="add-set anch">尽快送出
             <i class="fa fa-angle-right"></i>
         </div>
     </section>
     <br/>
     <section class="add-wrapper flex time">


         <div class="add-set remark">
             订单备注

         </div>

         <div class="add-set anch word">
              快点 快点 快点 快点 快点 快点 快点 快点快点 快点 快点 快点 快点 快点 快点 快点
         </div>
     </section>

     <br />
     <section class="add-wrapper">
         <div class="pay-title-2 pay-title-lne item-list">
             <span class="ten">订单总额</span>
             <span class="money quant">x1</span>
             <div class="money">
                 <span>￥42</span>
             </div>
         </div>

         <div class="pay-title-2 pay-title-lne item-list">
             <span class="money ten">订单总额</span>
             <span class="money quant">x2</span>
             <div class="money">
                 <span>￥42</span>
             </div>
         </div>

         <div class="pay-title-2 pay-title-lne item-list">
             <span class="money ten">订单总额</span>
             <span class="money quant">x3</span>
             <div class="money">
                 <span>￥42</span>
             </div>
         </div>
     </section>

</div>

<footer> 
    <span class="prod-cost order-total-cost">129.00</span> 
    <button class="button-select pure-button" ng-click="confirmDone()">确认下单</button>
</footer>