 <div class="order-wrapper" resize-height>
     <section class="order-header">
         <span>指定送货时间</span>  
         
         <div style="position:absolute;width:85px;padding:0 10px;right:10px; display:inline">
             <a class="pure-button pure-button-primary" ng-click="popupTimepicker()">点击选择</a>
         </div>
     </section>

     <div class="order-products-wrapper">
         <div class="order-product-item" ng-repeat="prod in products"> 
             <img width="70" height="70" style="opacity: 1; transition: opacity 0.5s;float:left;margin-left:10px;"> 
             <div class="store-product-content"> <p class="product-name ng-binding">康师傅矿泉水</p>
              <div class="product-footer"> 
                  <span class="product-price ng-binding" ng-bind="prod.price">12.7</span>

                  <div class="order-product-count">
                      <span style="border:1px solid #ddd;width:65px;">
                          <i class="fa fa-minus"></i>
                      </span>
                      <input type="text" style="width:20px;text-align:center" ng-model="prod.quantity" />
                      <span style="border:1px solid #ddd;width:65px;">
                          <i class="fa fa-plus"></i>
                       </span>
                </div>
             </div> 
             </div> 
         </div>

         <div class="order-mark-wrapper">
             <span style="width:40px; vertical-align:top;">备注</span>
             <div class="order-box-outer">
                 <textarea placeholder="选填,告诉我们您的特殊要求！"></textarea>
             </div>
         </div>
     </div>
</div>

 <footer style="position: fixed; background-color: #ddd; border-top: 1px solid #ABABAB;color:#000;"> 
    <div class="cart-wrapper"> 
     </div> 
     共<span class="order-quantity">18</span>件
     <b>合计</b>:<span class="prod-cost" style="color:#3199e8">232.20</span> 
     <button class="button-select pure-button" ng-click="confirmProduct()">确认</button>
 </footer>