html {
	-ms-touch-action: none;
}

body {
    margin:0;
    padding:0;
    font-size: 14px;
    color: #666;
}
body,ul,li {
	padding: 0;
	margin: 0;
	border: 0;
}
.clear {
    clear:both;
}

/*header*/
.store-header{
    position: relative;
    top:0px;
    height: 44px;
    background: #3199e8;
    color: #fff;
    line-height: 44px;
}
.header-back{
        position: relative;
        padding: 3px 0 0 10px;
        color: #fff;
        display: block;
}

.header-back i{
    font-size: 1.4em;
}
.header-title.flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.header-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65px;
    right: 65px;
    overflow: hidden;
    margin: 0;
    text-align: center;
    font-size: 1.05rem;
    color: #fff;
}
/*end header*/

.store-content{
 
}

/*left*/

.store-menu{
    position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 25%;
	overflow: hidden;
    background: #f7f7f7;
}

.store-tc{
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
 
.menu-items-wrapper{
    position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0); 
}

.menu-items-bord{
    border-right: 1px solid #ddd;
}
.menu-items-wrapper .menu-items{
    list-style-type:none;
    padding:0px;
    margin: 0;
	width: 100%;
	text-align: left;
}

ul.menu-items li{
    border-bottom: 1px solid #ddd;
    padding: 15px 5px;
    display: block;
}

.menu-item-active{
    margin-right: -1px;
    background: #fff;
    border-right-color: #fff;
    border-left: 2px solid #3199e8;
}
/*end left*/

/*right*/
.store-products{
    position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 25%;
	width: 75%;
	overflow: hidden;
}

.store-product-wrapper:nth-of-type(1) {
    border-top: none;
}

.store-product-wrapper{
    padding: 10px 8px;
    background: #fff;
    border-top: 1px solid #eee;
}

.store-product-content{
    overflow: hidden;
    padding-left: 7px;
}
.store-product-content .product-name{
    line-height:15px;
    font-size:15px;
    color:#333;
}

.product-name{
    position:relative;
    top:-6px;
}
.product-price{
    color: #ff6000;
    font-size: 18px;
}

.product-price:before{
    content:"￥";
}

.product-footer button{
    background: url("img/rkoer93r3r_small.png") no-repeat;
    cursor:pointer;
    border:none;
    width:36px;
    height:36px;
    float:right;
    position:relative;
    top:-10px;
}

.product-footer button:focus{
    outline: 0 !important;
}
/*
.animate-dot {
    -webkit-transform: translate(0,0);
	-moz-transform: rotate(20deg); 
	-o-transform: rotate(20deg);
	transform: rotate(20deg); 
	-webkit-transition: -webkit-transform .3s ease-in; 
	-moz-transition: -moz-transform .3s ease-in; 
	-o-transition: -o-transform .3s ease-in;
	transition: transform .3s ease-in; 
    
}*/


#animate-dot{
  position:absolute;
  right:0;
  top:0;
  display:none;
  width: 12px;
  height:12px;
  z-index:20;
}


/*end right*/


/*order*/
.order-wrapper{
    padding: 10px 0 0 0;
    background-color:#ddd;
}
.order-header{
    background-color:#fff;
    padding:10px 10px;
}

.order-header a.pure-button{
    background-color:#3199e8;
}
.order-header span{
    display:inline-block;width:70%;
}

@media screen and (min-width: 480px) {
  .order-header span {
        display:inline-block;width:80%;
    }
}

.order-products-wrapper{
    margin-top:5px;
    background-color:#fff;
    padding-top:2px;
    
}

.order-product-item{
    margin:10px 0;
    height:80px;
    border-bottom: 1px solid #ddd;
}

.order-product-count{
    float:right;
    margin-right:10px;
}
 

/*end order*/


/*footer*/
footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background: #444;
	padding: 0;
	border-top: 1px solid #444;
    font-size:1.2rem;
    color:#fff;
}
.cart-wrapper{
    position: relative;
    top: 6px;
    padding-left:20px;
    display:inline;
}

.prod-quantity{
    line-height:48px;
}
.prod-quantity:after{
    content: "份";
    margin: 0 0 0 .1em;
}

.prod-cost{
    margin-left:8px;
}
.prod-cost:before{
    content:'￥';
}

 .button-select {
    background: rgb(66, 184, 221);
    font-size: 70%;
    float:right;
    color:#fff;
    position:relative;
    top:10px;
    right:10px;
}
/*end footer*/

 