body {
    margin:0;
    padding:0;
}

.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.clear {
    clear:both;
}

.container{
    
}

.store-list {
    position:relative;
    padding-left: 130px;
    padding-bottom:80px;
    left: 0;
}

.store-cat {
    width: 130px;
    position: fixed;
    top: 34px;
    left: 0;
    bottom: 80px;
    z-index: 1000;
    overflow-y: auto;
}

.pure-menu-item{
    background-color:#eee;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  background-color: #fff;
 
  border-left:1px solid blue;
}

.store-pro {
     
}



/*footer*/
footer{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:80px;

}
/*end footer*/